@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    background: var(--background); 
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    height: 100%;
}

button {
    background: none;
    border: none;
    transition: 0.1s;
}
button:hover {
    background: #0002;
}

:root {
    --background: #0f0f0f;
    --list-bg: #27292b;
    --dashboard-bg: #3a3b3c;
    --theme-color: #1ed760;
    --theme-color-darker: #17a248;
    --text-color: #eee;
    --text-color-darker: #ddd;
    --text-color-darkest: #999;
}
  

title {
	display: block;
	position: absolute;
	top: 7%;
	font-size: xxx-large;
}

#main {
    height: 60%;
    width: 50%;
    min-width: 700px;
}

.tile {
    background-color: var(--dashboard-bg);
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); */
    box-sizing: border-box;
    /* padding: 20px; */
}

#login-btn {
	width: 100%;
	height: 100%;
	border-radius: 0;
	color: var(--text-color);
	background: var(--theme-color);
	border: none;
	font-size: xx-large;
    transition: all 0.25s;
}
#login-btn:hover {
    font-size: xxx-large; 
    color: var(--text-color-darker);
}
#login-btn:active {
    background-color: var(--theme-color-darker);
    font-size: xx-large;
}


#logged-in {
	display: flex;
	flex-flow: column;
}

#nav {
	height: 64px;
    background-color: var(--theme-color);
    flex-shrink: 0;
    display: flex;
}

#name-display {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: x-large;
    font-weight: 700;
}

#logout-btn {
    aspect-ratio: 1/1;
    height: 64px;
    padding: 12px;
    fill: var(--text-color);
    flex-shrink: 0;
}
#logout-btn:hover {
    fill: var(--text-color-darker);
}

#content {
    display: flex;
}


#list-holder {
    width: 300px;
    flex-shrink: 0;
    background-color: var(--list-bg);
    border-right: #5a5d5f 2px solid;
    display: flex;
    flex-flow: column;
}

#search-bar {
	display: flex;
	height: 28px;
	margin: 6px 24px;
	box-sizing: border-box;
    align-items: center;
    border-bottom: var(--text-color-darkest) 1px solid;
    fill: var(--text-color-darkest); 
    transition: 0.1s;
    flex-shrink: 0;
}
#search-bar:focus-within {
    border-bottom: var(--text-color-darker) 1px solid;
    fill: var(--text-color-darker); 
}

#search-input {
    height: 100%;
    width: 100%;
    margin-left: 8px;
    background: none;
    border: none;
    outline: none;
    color: var(--text-color);
}
#search-input::placeholder {
    transition: 0.1s;
    color: var(--text-color-darkest);
}
#search-input:focus::placeholder {
    color: var(--text-color-darker);
}

#search-options {
	height: var(--search-height);
	margin: 0 12px;
	display: flex;
	--search-height: 27px;
	margin-bottom: 6px;
    z-index: 1;
}

.bubble {
    font-size: small;
	box-sizing: border-box;
	border: var(--text-color-darkest) 1px solid;
	border-radius: calc(var(--search-height) /2);
    background-color: var(--list-bg);
}

.search-option {
	width: auto;
	padding: 4px var(--horizontal-padding);
	margin: 0 2px;
	color: var(--text-color-darkest);
    font-weight: 500;
    user-select: none;
    height: var(--search-height);
    max-height: var(--search-height);
    --horizontal-padding: 8px;
}

.dropdown-content {
	width: calc(100% + var(--horizontal-padding) * 2);
	position: relative;
	left: calc(-1 * var(--horizontal-padding));
    top: 10px;
	height: auto;
	padding: 4px var(--horizontal-padding);
	box-sizing: border-box;
}
option {
	padding: 2px;
	border-radius: 6px;
}
option[selected] {
    color: var(--text-color-darker);
    background: none;
}
option:hover {
	/* padding: 2px 0px; */
	color: var(--text-color-darker);
	background: #fff2;
}
.dropdown-content hr {
	margin: 2px 0;
}

#list {
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: auto;
}

.list-member {
	height: max-content;
	display: flex;
    align-items: center;
    margin: 3px 0;
}

.member-info {
	width: 100%;
	display: grid;
	grid-template-areas: "a a" "b c";
	grid-template-columns: auto 1fr;
}
text.title {
	grid-area: a;
}
text.author {
	grid-area: b;
}
text.info {
	grid-area: c;
}
text.info::before {
    content: "•";
    margin: 0 4px;
}
text.desc {
    color: var(--text-color-darkest);
    font-size: small;
}
.member-selection {
	aspect-ratio: 1/1;
	padding: 0;
	height: 20px;
	flex-shrink: 0;
	margin: 0 16px;
}

#dashboard {
	width: 100%;
}